.label {
  font-weight: 700;
  margin: 16px 0 4px;
  display: inline-block;
}
.checkLable {
  height: 32px;
  display: flex;
  margin-top: 16px;
  align-items: center;
  justify-content: space-between;
}
.text {
  font-size: 14px;
}
.submitBtn {
  margin-top: 24px;
}
