.imgContainer {
  width: 160px;
  height: 220px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}
.linkAndImg {
  width: 100%;
  height: 100%;
}
.likeBtn {
  top: 8px;
  right: 8px;
  position: absolute;
}
