.formInput {
  margin-top: 16px;
}

.submitButton {
  width: 100%;
  display: flex;
  transition: 0.3s;
  padding: 8px 16px;
  margin: 16px 0 32px;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
  background: linear-gradient(
    135.18deg,
    rgb(134, 199, 246) 5.639%,
    rgb(21, 126, 202) 164.161%
  );
}
