.nav {
  // display: flex;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 9px 16px;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    135.18deg,
    rgb(134, 199, 246) 7.886%,
    rgb(21, 126, 202) 166.381%
  );
}
.logo {
  display: inline-block;
  padding: 16px;
  font-size: 36px;
  border-radius: 50%;
  line-height: 0.65em;
  font-family: "Roboto";
  border: 1px solid rgb(0, 0, 0);
}
.link {
  color: black;
}

.createPost {
  top: 40px;
  padding: 4px;
  margin: 0 auto;
  background: #fff;
  border-radius: 50%;
  position: relative;
  align-items: center;
  display: inline-block;
  justify-content: center;
}

.imgContainer {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  background: linear-gradient(
    135.18deg,
    rgb(134, 199, 246) 7.886%,
    rgb(21, 126, 202) 166.381%
  );
}

.profileOrSettingsBtn {
  justify-self: self-end;
}

.linkWrap {
  justify-self: center;
}
