.input {
  display: none;
}
.lable {
  height: 438px;
  display: block;
  display: flex;
  overflow: hidden;
  margin-top: 15px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  border: 1px solid #cbced5;
}
.defaultImgContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.text {
  width: 268px;
  color: #888888;
  text-align: center;
}
.img {
  width: 100%;
  height: 100%;
}
