.title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  margin-bottom: 24px;
}

.or {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
  justify-content: space-between;
}

.line {
  width: 45%;
  height: 1px;
  background: #cbced5;
}

.switchingForm {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 24px;
  color: rgb(0, 18, 181);
}

.termsLink {
  color: rgb(0, 18, 181);
}

@media (hover: hover) {
  .submitButton:hover {
    transform: scale(1.05);
  }
  .switchingForm:hover,
  .termsLink:hover {
    color: rgb(0, 26, 255);
    text-decoration: underline;
  }
}
