.wrapper {
  color: red;
}

.innerWrapper {
  color: red;
  overflow-y: scroll;
}

.tracker {
  color: red;
  flex: 1 1 100%;
}

.article {
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
